html, body { padding: 0; margin: 0; height: 100%;}

body {
  background-color: #eff3f3;
  color: #333;
  font-family: 'open sans', verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 140%;
}

p, ol, ul, td {
  font-family: 'open sans', verdana, arial, helvetica, sans-serif;
  font-size: 1em;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

header {
  width: 100%;
  background: #fff;
  color: #e74b3b;
  position: absolute;
  top: 0; 
  height: 55px;
  border-bottom: 1px solid #efefef;


  h1 {
    display: block;
    overflow: hidden;
    text-indent: -30000px;
    background-image: image-url("octopus-logo.svg");
    background-repeat: no-repeat;
    width: 245px;
    height: 20px;
    margin-left: 30px;
  }

  .menu {
    background: #e74c3c no-repeat 0 0;
    background-image: image-url("nav-iconx2.png");
    background-color: #e74c3c !important;
    background-size: cover;
    height: 55px;
    width: 54px;
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    transition: 0.1s ease-in;

    &:hover {
      opacity: 0.9;
    }
  }

  nav {
    height: 0;
    overflow: hidden;
    background: #22252a;
    position: absolute;
    width: 150px;
    right: 0;
    top: 55px;
    z-index: 5;
    transition: 0.2s ease-in-out;
    ul {
      padding-left: 0;
      margin-left: 20px;

      li {
        display: block;
        margin-bottom: 0.5em;
        a, a:visited {
          color: #bdc3c7;
          text-align: right;
          text-decoration: none;

          &:hover {
            color: #fff;
            background: none;
          }
        }
      }
    }
  }
}

.show {
  height: 150px;
}

main {
  position: absolute;
  top: 80px;
  width: 100%;

  h1 {
  color: #e74b3b;
  text-align: center;
  margin-bottom: 1em;
  line-height: 1.2;
  }
}

a.button {
    text-align: center;
    background: #e74b3b;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;

    &:hover {
      background: #c0392b;
    }
  }

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
