// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
	border-spacing: 0;
	width: 90%;
	max-width: 52em;
	margin: 0 auto;

	thead {
		tr {
		background: #e74b3b;
		color: #fff;
		text-align: left;
			th {
				padding: 3px 5px;
			}
		}
	}
	tbody {
		tr {
			background: #fff;
			td {
				border-bottom: 1px solid #999;
				padding: 3px 5px;
				min-width: 100px;
			}
		}
	}
}

.downloaded {
	background: #999;
}

#pagination {
	text-align: center;
}

.pagination {
	margin-top: 20px;
	span, a, .current {
		text-align: center;
	    background: #e74b3b;
	    color: #fff;
	    padding: 5px 10px;
	    text-decoration: none;

	    &:hover {
	      background: #c0392b;
	    }
	}

	.current {
		background: #fff;
		color: #333;
	}
}