<!DOCTYPE html>
<html>
<head>
  <title>Hub Spot App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<script src="//use.typekit.net/ifw3yzl.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
	<body>
		<header>
			<h1>OG HubSpot App</h1>
			<div class="menu">
				<nav>
					<ul>
						<li>
							<a href="/">UK Tweets</a>
						</li>
						<li>
							<a href="/eu">EU Tweets</a>
						</li>
						<li>
							<a href="/us">US Tweets</a>
						</li>
						<li>
							<a href="/raw">All Tweets</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<main>

		<%= yield %>

		</main>
		<script>
			$('.menu').click( function() {
				$('nav').toggleClass('show');
			});
		</script>
	</body>
</html>
